body {
	background-image:url("ressource/background3.png");
	background-repeat: repeat-x;
	background-color: gray;
}

#btnplay{
    
    color: #ffffff;
    background: #696969;
    font-size: 40px;
    font-family: fontstart;
    font-weight: bold;
    border: 1px solid ;
    border-radius: 15px;
    padding: 15px 160px 15px 160px;
    text-align: center;
    display: block;
    margin: auto;
  
}
 
#btnplay:hover {
    
    color: white;
    background: #09e6d4;
    cursor: pointer;
}

#btnplay:focus {
    
  color: white;
  background: #09e6d4;
}

#score
{
	background-color: orange;
	color:white;
	text-align:center;
	font-size: 18px;
	width:300px;
	height:100px;
}
#score2
{
	background-color: transparent;
	color:white;
	text-align:left;
	font-size: 14px;
	position: absolute;
	right:90px;
	top: 10px;
	width: 200px;
	height: 60px;
}
#top
{
	position: absolute;
	width:400px;
	height:85px;
	right:50px;
	top:0;
	display: none;
}
#obstacle1 , #obstacle2 ,#obstacle3 ,#obstacle4
{
	display:none;
	position:absolute;
	z-index: -5;
}
#start, #naam , #Menupauze 
{
	position: absolute;
	width: 500px;
	height:200px;
	background-color: orange;
	opacity:1;
	text-align:center;
	border-style:double;
	border-color:red;
	border-width:10px;
	border-radius: 7px;
	
}

#gameover
{
	position:absolute;
	bottom:150px;
	left:350px;
	width:630px;
	height:450px;
	-webkit-transition: opacity 3s ease-out;
    opacity: 0;
    z-index: -1;
	display: none;
}

#naam , #Menupauze , #vmpimg, #score2,#pauzebouton
{
	display:none;
	-webkit-transition: opacity 1s ease-out;
    opacity: 0;
}
#music
{
	position:absolute;
	left:10px;
	top:10px;
	width:30px;
	height:30px;
	background-image: url("ressource/son.png");
	background-size:30px ,30px;
	border-style: none;
	
}
#vampire
{
	position:absolute;
}
#naaminvoer
{
	color:red;
	text-align: center;
	font-size: 20px;
	width:200px;
	font-weight: bold;
	
	
}
textarea
  {
  	resize: none;
  	width: 120px;
  	height: 30px;
  	margin-left:5px;
  	border-style: none;
  	border-radius:7px;
  	color:black;
  	background-color:white;
  	
  }
input , button
{
	background: linear-gradient(yellow,red);
	color:white;
	width:100px;
	height:25px;
	position: absolute;
}
.left
{
	
	left:20px;
	bottom:5px;
	font-size: 18px;
}
.obstac , .money
{
	position:absolute;
	
}
.money
{
	z-index: -5;
	display: none;
	width:26px;
	height:26px;
	
}
#pauzebouton
{
	right:10px;
	top:10px;
	width:50px;
}
.right
{

	right:20px;
	bottom:5px;
	font-size: 18px;
	
}
.midden
{

	left:200px;
	bottom:25px;
	font-size: 18px;
}
#levelup
{
	display:block;
	opacity:1;	
	display:none;
}

